body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 20px;
  word-wrap: break-word;
  line-height: 1;
  list-style: none;
  width: 100%;
}
.overview {
  margin-bottom: 20px;
  text-align: center;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  background: linear-gradient(
    890.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  border: 1px solid rgb(135, 135, 135);
  border-radius: 15px;
  padding: 20px;
}

.search-form {
  margin-bottom: 60px;
}

.search-city-input {
  border-radius: 30px;
  border: 0.5px solid #6299f7;
  background-color: transparent;
  box-shadow: 5px #fcf4d9;
}

.location-button {
  font-size: 25px;
  color: #3363e6;
  border-radius: 5px;
  border: 0.8px solid #6299f7;
}

.date {
  text-align: center;
  padding: 0px;
  font-size: 17px;
  font-weight: bolder;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
}

.current-temp strong {
  color: rgb(33, 33, 33);
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.current-temp .active:hover {
  text-decoration: none;
}
.current-temp .celsius-link {
  text-decoration: none;
}
.current-temp .fahrenheit-link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
font-size: 16px;
opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}