body {
  font-family: "Magra", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Libre Caslon Text", serif;
}

li {
  text-transform: capitalize;
  font-family: "Magra", sans-serif;
  font-size: 15px;
  height: 20px;
  word-wrap: break-word;
  list-style: none;
  width: 100%;
  margin: 5px 2px 2px 0;
}
#wind-units {
  text-transform: lowercase;
}
.overview {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  padding: 0px;
  font-weight: 600;
  font-family: "Magra", sans-serif;
}
.weather-app-wrapper {
  margin: 35px auto;
  max-width: 600px;
}
.weather-app {
  background: linear-gradient(
    890.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  border: 1px solid rgb(135, 135, 135);
  border-radius: 16px;
  padding: 30px;
}

.search-form {
  margin-bottom: 20px;
}

.location-button {
  font-size: 20px;
  color: #2d60ec;
  border-radius: 6px;
  border: 0.9px solid #4ba6fc;
  padding: 3px 10px;
  background-color: transparent;
  margin: 0px 10px;
}
.search-tab {
  font-size: 14px;
  border-radius: 6px;
  border: 0.9px solid #4ba6fc;
  padding: 8px 18px;
  background-color: transparent;
}
.btn {
  font-size: 14px;
  color: #6c757d;
  border-radius: 6px;
  border: 0.9px solid #4ba6fc;
  padding: 8px 18px;
  background-color: transparent;
}

.current-temp strong {
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 300;
  line-height: 1;
}
.current-temp {
  text-align: center;
  display: block;
  padding: 45px 10px 0px 30px;
  font-family: "Libre Caslon Text", serif;
}
.main-icon {
  width: 140px;
  text-align: center;
  margin: 0px 10px;
  display: block;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
